
.blog {

  .admin_buttons{
    margin-bottom: 20px;
  }

  .blog_post_listing{

    padding-top: 20px;
    padding-bottom: 20px;
    border-top: thin dotted #D5D5D5;
    border-bottom: thin dotted #D5D5D5;

    .image{
      overflow: hidden;
      padding: 0px;

      @media screen and (max-width: $middle) {
        margin-bottom: 20px;
      }

    }

    .title {
      margin-bottom: 16px;

      a{
        transition: color .2s;
      }
      a:hover{
        color: $orange;
        text-decoration: none;
      }
    }

    .date{
      color: $orange;
      font-size: 14px;
      margin-bottom: 20px;
    }


    .description {
      font-size: 14px;
    }

  }
}

.blog_post{

  .admin_buttons{
    margin-bottom: 20px;
  }

  .date{
    color: $orange;
    font-size: 14px;
    margin-bottom: 20px;
  }

  img{
    max-width: 275px;
    float: left;
    padding-right: 30px;
    padding-bottom: 30px;

      @media screen and (min-width: $tiny) {
        max-width: 350px;
      }
      @media screen and (min-width: $middle) {
        max-width: 400px;
      }
    }

  .posts_back_button{
    margin-bottom: 15px;

    @media screen and (min-width: $middle) {
      margin-bottom: 0px;
    }
  }

  .body{

    border-top: lightgrey thin solid;
    padding-top: 20px;

    p, span{
      font-family: $nav_fonts !important;
      line-height: 28px !important;
    }
  }

}

.edit_blog{
  img{
    max-width: 250px;
    max-height: 250px;
  }
}
