.btn{
  font-family: $nav_fonts;
}
.btn-primary{
  background: url("/images/buttons/primary_back.jpg") center;
}
.btn-primary:hover{
  border: #ffffff thin solid;
}
.btn-warning{
  background: url("/images/buttons/warning_back.jpg") center;
}
.btn-danger{
  background: url("/images/buttons/danger_back.jpg") center;
}
.btn-primary:hover{
  border: #ffffff thin solid;
}


.upload_button {
  position:relative;
  width: 150px;
  height: 35px;
  overflow:hidden;
  
  :hover{
    cursor: pointer;
  }

  button {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  input {
    font: 500px monospace; /* make the input's button HUGE */
    opacity:0; /* this will make it transparent */
    filter: alpha(opacity=0); /* transparency for Internet Explorer */
    position: absolute;  /* making it absolute with z-index:1 will place it on top of the button */
    z-index: 1;
    top:0;
    right:0;
    padding:0;
    margin: 0;
  }
}
