.btn{
  font-family: $nav_fonts;
}
.btn-primary{
  background: url("/images/buttons/primary_back.jpg") center;
}
.btn-primary:hover{
  border: #ffffff thin solid;
}
.btn-warning{
  background: url("/images/buttons/warning_back.jpg") center;
}
.btn-danger{
  background: url("/images/buttons/danger_back.jpg") center;
}
.btn-primary:hover{
  border: #ffffff thin solid;
}

