.main_back{
  background: url("/images/main_background_3.jpg") no-repeat top center;
  background-color: $darkest_green;
  height: auto;
  margin-top: -30px;
  background-size:100% auto;

  @media screen and (min-width: $middle) {
    height: 400px;
  }
  @media screen and (min-width: $big) {
    height: 500px;
  }
  @media screen and (min-width: $biggest) {
    height: 594px;
  }
  @media screen and (min-width: $gigantic) {
    height: 750px;
  }

}

.main_home{
  background-color: $dark_green;
  padding: 15px;
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  margin-top: 43%;


  @media screen and (min-width: $small) {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    margin-top: 46%;
    padding: 15px;
  }
  @media screen and (min-width: $middle) {
    margin-top: 9%;
    width: 600px;
    margin-right: auto;
    margin-left: 40%;
    padding: 15px;
  }
  @media screen and (min-width: $big) {
    margin-top: 15%;
  }

  h1{
    font-family: $bold_fonts;
    font-weight: bold;
    color: #ffffff;
    font-size: 34px;
    text-align: center;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    border-bottom: $pale_yellow thin dashed;
  }

  .home_buttons{
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    font-family: $nav_fonts;
    color: #ffffff;

    @media screen and (min-width: $small) {
      width: 295px;
    }


    span{
        margin-left: 15px;
        margin-right: 15px;
      }

      a{
        min-width: 77px;

        @media screen and (min-width: $small) {
          min-width: 100px;
        }
      }
  }

  .hiring_buttons{
    border-top: dashed thin $pale_yellow;
    padding-top: 15px;
    color: $pale_yellow;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    a{
      color: $orange;
    }
  }
}

.section2{
  margin-top: 60px;
  margin-bottom: 20px;

  h2{
    margin-bottom: 20px;
  }

  img{
    border-bottom: solid thick $orange;
  }

  p{
    font-family: $nav_fonts;
    font-size: 16px;
    color: $dark_green;
    background-color: $light_green;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    line-height: 30px;

    .btn{
      display: block;
    }
  }
}

.section3{
  padding-top: 30px;
  padding-bottom: 30px;

  h3{
    min-height: 60px;
  }

  .blog_image{
    width: 375px;
    height: 225px;
  }

  img{
    margin-bottom: 20px;
  }
}
