.jobs{

  min-height: 400px;

  .row{
    padding-left: 15px;
    padding-right: 15px;
  }

  h1, h2{
    margin-bottom: 20px;
    display: inline-block;
    max-width: 315px;
    font-size: 32px;

    @media screen and (min-width: $small) {
      max-width: 450px;
    }
    @media screen and (min-width: $middle) {
      max-width: 600px;
    }

    h3{
      font-size: 22px;
    }

  }

  h3{
    margin-top: 0px;
    font-family: $nav_fonts;
    font-weight: bold;
    color: $middle_green;
  }

  .job_data, .contact_data, .location_data{
    ul{
      list-style: none;
      padding-left: 0px;

      li{
        margin-bottom: 6px;
      }

      li:last-of-type{
        margin-bottom: 0px;
      }

      label{
        font-weight: bold;
      }
    }
  }

  .btn-primary{
    float: right;
  }

  form{

    .half_element{
      display: inline-block;
      max-width: 40%;
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  .edit_buttons{
    float: right;
  }

  .right_column{
    padding-left: 20px;
    h3 {
      font-size: 18px;
    }

    ul{
      padding-left: 0px;
      li{
        list-style: none;
        margin-bottom: 16px;
        a{
          font-size: 16px;
        }
      }
    }
  }

}

.job_create {
  @extend .jobs;

  .col-md-6{
    .half_element{
      max-width: 95%;
    }
  }
  .required{
    color: #a50003;
  }

  h4{
    font-family: $bold_fonts;
    font-weight: bold;
    color: $blue_green;
    margin-top: 0px;
    margin-bottom: 15px;
  }
}