
.navbar-inverse {
  background: url("/images/top_bar.jpg") repeat-x 0px -38px;
  height: 85px;
  border: none;

 .navbar-collapse{

   @media screen and (max-width: $small) {
     width: 115%;
     border: none;
     padding-left: 0px;
     padding-right: 0px;
   }
 }

  .nav, .navbar-nav {

    margin-top: 29px;
    background-color: $dark_blue;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    float: right;

    @media screen and (max-width: $small) {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      display: block;
      width: 100%;
      margin-top: 0px;
      padding: 0px;
      float: none;
    }
    @media screen and (max-width: $middle) {
      padding-left: 0px;
      padding-right: 0px;
    }


    li {

      margin-bottom: 2px;

      @media screen and (max-width: $small) {
        padding-left: 30px;
        padding-top: 10px;
      }

      a {
        font-family: $nav_fonts;
        font-size: 16px;
        color: $light_green;
        transition: color .2s;
      }
      a:hover{
        color: $orange;
      }
      .hiring_button {
        color: $orange;
      }
    }
  }

  .navbar-header {
    background: url("/images/eriepajobs_3.png") no-repeat;
    margin-top: 8px;
    height: 75px;

    @media screen and (max-width: $small) {
      background-position: 10px;
    }


    .icon-bar{
      width: 50px;
    }

    .navbar-toggle {
      background-color: $dark_green;
      width: 75px;
      height: 50px;
      color: #ffffff;
      font-family: $nav_fonts;
    }

    .navbar-toggle:hover {
      background-color: $orange;
    }
  }

  .navbar-brand{
    width: 290px;
    height: 77px;

  }

}



