.hiring_main_row{
  background-image: url('../images/hiring_header.jpg');
  min-height: 300px;
  background-size:100% auto;

  .container{

    bottom: 10%;

    h1{
      color: $orange;
      font-size: 36px;
      background-color: $dark_green;
      padding-bottom: 25px;
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 15px;
      display: inline-block;
      width: 100%;

      @media screen and (min-width: $middle) {
        font-size: 60px;
        width: auto;
      }

    }

    h2{
      color: #ffffff;
      font-size: 34px;
      margin-top: 26%;
      background-color: $dark_green;
      padding-top: 25px;
      padding-left: 25px;
      padding-right: 25px;
      display: inline-block;
      width: 100%;

      @media screen and (min-width: $middle) {
        font-size: 47px;
        width: auto;
        margin-top: 13%;
      }
    }
  }
}

.hiring{

  .row{
    margin-left: 0px;
    margin-right: 0px;
  }

  .guarantee{
    background-color: $light_green;
    padding-top: 30px;
    padding-bottom: 30px;

    @media screen and (min-width: $middle) {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    img{
      display: block;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 20px;
      max-width: 320px;

      @media screen and (min-width: $middle) {
        margin-bottom: 0px;
        max-width: 500px;
      }
    }

    p{
      margin-top: 20px;
      padding-top: 20px;
      border-top: dashed $orange thin;
    }
  }

  .pricing {
    padding-top: 40px;
    padding-bottom: 60px;
    background-color: $dark_blue;
    text-align: center;

    h2{
      margin-bottom: 30px;
      font-size: 40px;
      color: #ffffff;
    }

    h3{
      font-weight: bold;
      border-bottom: dashed $orange thin;
      padding-bottom: 15px;
      margin-bottom: 15px;
      margin-top: 5px;
    }

    .price_box {
      background-color: white;
      padding: 20px;
      border-radius: 10px;
      max-width: 450px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 15px;

      @media screen and (min-width: $middle) {
        margin-bottom: 0px;
      }


      ul{
        list-style: none;
      }
    }
  }

  .signup{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $light_yellow;

    @media screen and (min-width: $middle) {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .left_column{
      padding-left: 0px;
      padding-right: 25px;
    }
  }

  .signup_form{
    padding-top: 30px;
    background-color: $light_yellow;

    @media screen and (min-width: $middle) {
      padding-top: 30px;
    }
  }


  .hiring_headline{
    color: $middle_green;

    .accent{
      font-size: 34px;
    }

    .free{
      color: $orange;
    }
  }

  p{
    font-family: $nav_fonts;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  ul{
    font-family: $nav_fonts;
    font-size: 16px;

    li{
      margin-bottom: 10px;
    }
  }

  .well{
    margin-top: 30px;
    @media screen and (min-width: $middle) {
      margin-top: 0px;
    }
  }

  .required{
    color: $orange;
  }
}