.profile{

  min-height: 500px;

  .activate_button{
    min-width: 50px;
    background-color: #008000;
  }

  .btn-warning, .btn-danger{
    min-width: 40px;
  }

  h1{
    margin-bottom: 20px;
  }

  h3{
    font-family: $nav_fonts;
    font-weight: bold;
    color: $dark_grey;
    margin-top: 5px;
    margin-bottom: 30px;
  }

  .info_header, .notification_header{
    display: inline-block;
  }

  .subscription_header {
    float: left;
  }

  .subscription_alert{
    margin-left: 30px;
    float: right;
    padding: 10px;
  }

  .edit_button{
    float: right;
  }

  .cancel_button{
    float: right;
  }

  .edit_info{
    margin-left: -15px;
  }

  .delete_account_button{
    float: right;
    margin-right: 15px;
  }

  .unsubscribe_button{
    float: right;
    margin-top: 25px;
  }

  .file-row{
    p{
      margin-bottom: 0px;
    }
  }
  #user_verified_phone_number{
    color: $orange;
  }
}