.subscription{

  .list-group{
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 550px;

    .list-group-item{
      float: left;
      margin-right: 40px;
      padding: 30px;
      text-align: center;

      b{
        color: $blue_green;
      }
    }
  }
}