$nav_fonts: 'Roboto Condensed', sans-serif;
$bold_fonts: 'Titillium Web', sans-serif;

$dark_blue: rgb(42, 44, 43);

$transparent_dark_blue: rgba(25, 53, 65, 0.75);
$light_green: #d7dfd2;
$light_yellow: #FFFEF9;
$blue_green: #37636f;
$dark_grey: #595959;

//new colors
$darkest_green: rgb(30, 30, 32);
$dark_green: rgb(42, 44, 43);
$middle_green: rgb(55, 65, 64);
$pale_yellow: rgb(217, 203, 158);
$orange: rgb(220, 53, 34);
//end new colors

//breakpoints
$smallest: 691px;
$small: 768px;
$middle: 992px;
$big: 1200px;
$biggest: 1350px;
$gigantic: 1450px;


@import "reset";
@import "buttons";
@import "signup";
@import "login";
@import "browse";
@import "jobs";
@import "search";
@import "profile";
@import "application";
@import "../font-awesome/scss/font-awesome";
@import "nav_styles";
@import "pages";
@import "homepage";
@import "modal";
@import "footer";

body {
  padding-top: 100px;
}

.main_row{
  min-height: 50px;
}


label{
  font-family: $nav_fonts;
  font-weight: normal;
  color: $dark_grey;
}

.form-control{
  margin-bottom: 10px;
}

h1, h2{
  font-family: $bold_fonts;
  font-weight: 700;
  color: $middle_green;
  margin: 0px;
}

.well {
  border: thin solid #d7dfd2;
  background-color: $light_yellow;
}

.pagination_links{
  .pagination{
    min-height: 40px;
  }
}

.new_tag{
  margin-top: -133px;
  float: right;
  position: relative;
  margin-left: -10px;
  padding: 10px;
  font-size: 10px;
  font-family: $nav_fonts;
  font-weight: bold;
  color: #ffffff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: url("/images/buttons/default_back.jpg") center;

  @media screen and (min-width: $middle) {
    margin-top: -20px;
    position: absolute;
    float: none;
  }

}

.img-responsive{
  width: 100%;
}





