$nav_fonts: 'Roboto Condensed', sans-serif;
$bold_fonts: 'Titillium Web', sans-serif;

$dark_blue: rgb(25, 53, 65);
$transparent_dark_blue: rgba(25, 53, 65, 0.75);
$light_green: #d7dfd2;
$light_yellow: #FFFEF9;
$blue_green: #37636f;
$dark_grey: #595959;

@import "reset";
@import "buttons";
@import "signup";
@import "login";
@import "browse";
@import "jobs";
@import "search";
@import "profile";
@import "../font-awesome/scss/font-awesome";
@import "nav_styles";
@import "homepage";
@import "modal";
@import "footer";

body {
  padding-top: 120px;
}

.main_back{
  background: url("/images/main_background.jpg") no-repeat top center;
  height: 750px;
  margin-top: -30px;
}

label{
  font-family: $nav_fonts;
  font-weight: normal;
}

.form-control{
  margin-bottom: 10px;
}

h1, h2{
  font-family: $bold_fonts;
  font-weight: 700;
  color: $blue_green;
  margin: 0px;
}

.well {
  border: thin solid #d7dfd2;
  background-color: $light_yellow;
}

.pagination_links{
  .pagination{
    min-height: 40px;
  }
}

.new_tag{
  margin-top: -20px;
  margin-left: -30px;
  position: absolute;
  padding: 10px;
  font-size: 10px;
  font-family: $nav_fonts;
  font-weight: bold;
  color: #ffffff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: url("/images/buttons/default_back.jpg") center;
}





