/bootstrap/compiled.php
/vendor
/app/EriePaJobs/Applications/Resumes/PermanentResumes
/app/EriePaJobs/Applications/Resumes/TempResumes
/public/images/blog_images
/.idea/
.idea/workspace.xml
composer.phar
.env.*.php
.env.php
.DS_Store
Thumbs.db

tests/_output/*