/bootstrap/compiled.php
/vendor
/app/EriePaJobs/Applications/Resumes/PermanentResumes
/app/EriePaJobs/Applications/Resumes/TempResumes
composer.phar
.env.*.php
.env.php
.DS_Store
Thumbs.db

tests/_output/*